  div.box {
	width: 150px;
	height: 150px;
  display: inline-block;
  margin-right: 5px;
 }

div.box:nth-child(odd) { background: black; }
div.box:nth-child(even) { background: #009abf; }
div.box:hover { background: #ff9f19; }

/*--------------------------------------------------------------------*/
div.item-list {
  	background-color: #f0f0f0;
  	border-bottom: 3px solid #ccc;
  	height: 35px;
  }
  .pager li {
  	list-style: none;
  	display: inline-block;
  	height: 35px;
  	padding: 0 20px;
  	line-height: 35px;

  }
  .pager li a {
		text-decoration: none;
		color: #720000;
  }
  .pager-current {
  	background-color: #ccc;
  	border-bottom: 3px solid #373737;
  }



/*--------------------------------------------------------------------*/

.black, .white {font: 100px Arial;}

div.all {
  padding: 30px 1px 5px 5px;
  border: 2px solid black;
  display: inline-block;
}

.white {
  margin-left: 3px;
  background: black;
  color: white;
  padding: 29px 5px 5px 5px;
}
