.11 {color: blue;font-size:1.2em;}
.12 {color: red;font-size:1.4em;}
.13 {color: gray;font-size:1.6em;}
.14 {color: black;font-size:1.8em;}
.15 {color: yellow;font-size:2em;}
.16 {color: lightblue;font-size:2.4em;}
.17 {color: green;font-size:2.6em;}
.18 {color: purple;font-size:2.8em;}
.19 {color: green;font-size:3em;}