 #ul1{
color:blue;
  padding: 0;
  margin: 0;
  list-style-position: inside;
    font-size: 24pt;
}
#ul1 a{
 text-decoration: none;
 color:blue;
 font: Arial;
}
#ul1 a:hover{
 color:red;
 text-decoration: underline;
}
/* ------------------------------------------------------------------------- */
 #ul2 {
  width: 300px;
  padding: 0px;
  margin: 0px;
  list-style: none;
    font-size: 24pt;
}

#ul2 a{
  text-decoration: none;
  border: 1px solid blue;
  margin-bottom: 5px;
  display: block;
}
#ul2 a:hover{
  font-weight: bold;
  cursor: pointer;

}
/* ------------------------------------------------------------------------- */
#ul3 {
  width: 300px;
  padding: 0px;
  margin: 0px;
  list-style: none;
    font-size: 24pt;
}

#ul3 a{
  text-decoration: none;
  border: 1px solid black;
  color:white;
  background-color: #484848;
  margin-bottom: 5px;
  display: block;
  padding: 10px;
  font-weight: bold;

}
#ul3 a:hover{
  color:black;
  background-color: white;
  cursor: pointer;

}
/* ------------------------------------------------------------------------- */
#ul4 {
  width: 300px;
  padding: 0px;
  margin: 0px;
  list-style: none;
    font-size: 24pt;
}

#ul4 a{
  text-decoration: none;
  border: 1px solid black;
  color:white;
  background-color: #0081E7;
  margin-bottom: 5px;
  display: block;
  padding: 5px;
  font-weight: bold;
}
#ul4 a:hover, #menu4 a.active{
  color:blue;
  cursor: pointer;
  background: white url("plane.png") no-repeat 90% center;
}
/* ------------------------------------------------------------------------- */
#menu5{
  font-size: 24pt;
}
#menu5 li{
  list-style-type: none;
  display: inline-block;
}
#menu5 a{
  text-decoration: none;
  display:block;
  color:blue;
  padding: 5px;
    border: 1px solid blue;
}

#menu5 a:hover, #menu5 a.active{
  color:white;
  background-color: #484848;
    border: 1px solid black;
}
/* ------------------------------------------------------------------------- */
#menu6{
  font-size: 24pt;
}
#menu6 li{
  list-style-type: none;
 float: left;
 margin-left: 10px;
}
#menu6 a{
  text-decoration: none;
  display:block;
  color:blue;
  padding: 5px;
    border: 1px solid blue;
}

#menu6 a:hover, #menu6 a.active{
  color:white;
  background-color: #484848;
    border: 1px solid black;
}

.clearfix{
  clear: both;
}
